/* This is a 'less' style css.
 * So make sure you use rel="stylesheet/less" AND 
 * include less.js AFTER including this.
 */

.shadow(@c:#fff) { text-shadow:1px 1px 1px @c; }
.rounded(@r:4px) { border-radius:@r; -webkit-border-radius:@r; -moz-border-radius:@r }

#page_caselist {
	.cl_header { font-weight:bold; color:#123; .shadow(#999); text-align:center;
		.cl_details { text-align:center;}
	}
	.cl_data { margin:1em 0; padding:1em; background:#ddd; text-align:center; .rounded(); border-bottom:solid 2px #444; }

	.cl_details { display:inline-block; width:30%; text-align:left;  vertical-align:middle;
		a,a:visited { color:#00f; }
	}
	.cl_investigator { display:inline-block; width:30%; vertical-align:middle; }
	.cl_next_hearing { display:inline-block; width:20%; vertical-align:middle; }
	.cl_last { display:inline-block; width:18%; vertical-align:middle; }

	.extra { font-size:10pt; color:#666; }
	.green { color:#090; }
	.red { color:#c00; }
	.gray { color:#666; }
}
