/* This is a 'less' style css.
 * So make sure you use rel="stylesheet/less" AND 
 * include less.js AFTER including this.
 */

.shadow(@c:#fff) { text-shadow:1px 1px 1px @c; }

#page_details {
	.casenum { font-size:2em; }

	.status { margin:2em 0 0.5em 0;
		span { padding:0.5em; color:#fff; background:#f33; .shadow(#000); }
		a,a:visited { color:#00f; }
	}
	.petitioner 	{ margin:2em 2em 2em 0; }
	.respondent 	{ margin:2em 2em 2em 0; }
	.io		{ margin:2em 2em 2em 0; }
	.assigned_to	{ margin:2em 2em 2em 0; }
	.actions { margin:2em 0 4em 0; 
		button { width:12em; }
		#details_close	{ background:#333; color:#ccc; text-shadow:1px 1px 1px #000; }
	}
	.assigned { margin:1em 0 0 0; color:#c00; }

	.text { margin:1em 0 0 4em; }
	.activity { padding:1em 0; border-bottom:dotted 1px #666;
		.extra { color:#666; }
	}
}
