/* This is a 'less' style css.
 * So make sure you use rel="stylesheet/less" AND 
 * include less.js AFTER including this.
 */

.shadow(@c:#fff) 	{ text-shadow:1px 1px 1px @c; }
.rounded(@r:4px)	{ border-radius:@r; -webkit-border-radius:@r; -moz-border-radius:@r; }

.details { background:#ddd; padding:1em; .rounded();
	button { width:12em; }
	.casenum { font-size:2em; }

	.status { margin:2em 0 0.5em 0;
		span { padding:0.5em 1em; color:#fff; .shadow(#000); .rounded(1em); }
		a,a:visited { color:#00f; }
	}
	.red		{ background:#c00; }
	.green		{ background:#696; }
	.gray		{ background:#666; }
	.petitioner 	{ margin:2em 0 0 0; }
	.respondent 	{ margin:0.5em 0 0 0; }
	.io		{ margin:0.5em 0 0 0; }
	.assigned_to	{ margin:0.5em 0 0 0; }
	.assigned { margin:1em 0 0 0; color:#c00; }
	.text { margin:2em 0 4em 4em; }
	
	#historyarea { margin:1em 0 0 0; background:#bcd; border:solid 1px #999; .rounded();
		.title { font-weight:bold; .shadow();
			a { font-weight:bold; color:#900; }
		}
		.activity { padding:1em; border-bottom:dotted 1px #666;
			.extra { margin-top:0.5em; }
			.text { margin:1em 0 0 4em; }
		}
	}


}

.actions { margin:2em 0;
	#details_attachment { display:none; }
}
