/* This is a 'less' style css.
 * So make sure you use rel="stylesheet/less" AND 
 * include less.js AFTER including this.
 */

table#details { width:100%; margin:2em 0 0 0;
	td { vertical-align:top; }
	td#summary { width:30%; border:solid 1px #666; }
}

table#proceedings { margin-top:1em;
	td.date { width:15%; }
	td.court{ width:25%; }
	td.counsel { width:20%; }
	td.remarks { width:40%; }
}

div#addproceedings { margin:1em 0 4em 0; }
