/* This is a 'less' style css.
 * So make sure you use rel="stylesheet/less" AND 
 * include less.js AFTER including this.
 */

#page_editcase {
	.form { width:60%; margin:0 auto;
		td {  padding:0.5em; }
	}
	.field { width:30%; color:#ccc; }
	.data { width:70%;  }

	#editcase_category { width:6em; }
	#editcase_court { width:6em; }
	#editcase_no { width:10em; }
	#editcase_year { width:4em; }
	#editcase_case_num { padding:2em 0; color:#ccc; }
}
