/* This is a 'less' style css.
 * So make sure you use rel="stylesheet/less" AND 
 * include less.js AFTER including this.
 */

/* less definitions */
@bg: #f0f0f0;
@fg: #333;
@pbtnbg: #8099ff;
@pbtnfg: #000;
.gradient(@c1,@c2) {
	background:-webkit-linear-gradient(top, @c1, @c2);
	background:-moz-linear-gradient(top, @c1, @c2);
}
.shadow(@c:#fff) { text-shadow:1px 1px 1px @c; }



/* common and useful classes */
.alignright	{ text-align:right; }
.aligncenter	{ text-align:center; }
.box		{ background:lighten(@bg, 10%); }
.fullwidth	{ width:100%; }
.floatleft	{ float:left; }
.floatright	{ float:right; }
.clear		{ clear:both; }



/* html element defaults */
* 	{ margin:0; padding:0; font:10pt sans,verdana,arial; color:@fg; line-height:1.3em; }
/*	{ border:dotted 1px #f00; }*/
body 	{ background:@bg; }
input[type=text], input[type=password] { padding:0.5em; background: lighten(@bg, 20%); border:solid 1px #999; }
select 	{ padding:0.5em; }
textarea{ height:6em; padding:0.5em; border:solid 1px #999; }
table	{ width:100%; border-spacing:0; }
p	{ }
h3	{ margin:1em 1em 0 1em; font-size:14pt; font-weight:bold; text-shadow:1px 1px 1px #fff; }
button	{ padding:0.5em; }
button:disabled	{ .gradient(#999, #666); }
button.primary { background:@pbtnbg; color:@pbtnfg; border:solid 1px #666; text-shadow:1px 1px 1px #eee; .gradient(@pbtnbg, darken(@pbtnbg,10%)); }




.header { padding:1em 4em; background:#333; color:@bg; text-align:right; border-bottom:solid 1px #000;
	a,a:active,a:visited { margin-left:4em; color: #777; font-size:10px; font-weight:bold; text-decoration:none; text-shadow:1px 1px 1px #000; }
	a:hover,a.hilite { color:#ccc; }
}

.toolbar 		{ border-top:solid 1px #fff; border-bottom:solid 1px #666; }
.toolbarbuttonarea 	{ float:left; margin:2em 0 2em 4em; }
.toolbarsearcharea 	{ margin:2em 4em 2em 0; text-align:right; 
	input[type=text] { width:24em; }
}


.content 	{ border-top:solid 1px #fff; }
.nav		{ width:20%; padding:2em 1em 0 4em; border-right:solid 1px #666; vertical-align:top;
		  a,a:visited { display:block; padding:0.5em; 
		  	color:#000; text-decoration:none; letter-spacing:0px; .shadow(#fff); 
			border-bottom:dotted 1px #666;
		  }
		  a:hover { background:#d0e0ff; }
		  .hilite { background:#d0e0ff; }
		  .count { float:right; margin:0.2em; padding:0.3em 0.5em; font-weight:bold; }
		  .important { background:#f33; color:#fff; .shadow(#000); }
		  .navsectiontitle { margin:2em 0 0 0; padding:0.5em; color:#666; .shadow(#fff); border-bottom:dotted 1px #666; }
		}
.pagearea	{ padding:2em 4em; vertical-align:top; }

.sectiontitle { border-bottom:solid 1px #666; }
.hint { font-size:12px; color:darken(@bg, 40%); }

.list { width:100%; border-spacing:0 1em; 
	tr { background:lighten(@bg, 10%); 
		td { border-right:solid 1px @bg; border-bottom:solid 1px darken(@bg, 20%); }
	}
	.tableheader { background:none; text-shadow:1px 1px 1px #fff; text-align:center; 
		p { margin-bottom:0; color:#333; font-weight:bold; }
		td { border:none; }
	}
	a,a:active,a:visited { color:#C00; }
}

.dialog {
	p { margin:0.5em;}
}

.ui-dialog { background:lighten(@bg, 10%); }

.ui-widget input, .ui-widget select, .ui-widget button, .ui-widget textarea {
	font:10pt sans;
}
