/* This is a 'less' style css.
 * So make sure you use rel="stylesheet/less" AND 
 * include less.js AFTER including this.
 */

@font-face {
	font-family: 'opensans';
	src: url('/common/OpenSans-Regular.ttf');
}
/*
@font-face {
	font-family: 'Archivo Narrow';
	src: url('/common/ArchivoNarrow-Regular.ttf');
}
*/

/* less definitions */
@bg: #567;
@fg: #333;
@pbtnbg: greenyellow;
@pbtnfg: #000;
.gradient(@c1,@c2) {
	background:-webkit-linear-gradient(top, @c1, @c2);
	background:-moz-linear-gradient(top, @c1, @c2);
}
.shadow(@c:#fff) { text-shadow:1px 1px 1px @c; }
.rounded(@r:4px) { border-radius:@r; -webkit-border-radius:@r; -moz-border-radius:@r; }



/* common and useful classes */
.alignright	{ text-align:right; }
.aligncenter	{ text-align:center; }
.box		{ background:lighten(@bg, 10%); }
.fullwidth	{ width:100%; }
.floatleft	{ float:left; }
.floatright	{ float:right; }
.clear		{ clear:both; }



/* html element defaults */
* 	{ margin:0; padding:0; font:inherit; }
/*	{ border:dotted 1px #f00; }*/
html	{ overflow-y:scroll; }
body 	{ background:@bg; font:11pt opensans,sans,arial; }
input[type=text], input[type=password]  { padding:0.3em; border:solid 1px #999; }
select 	{ padding:0.3em; }
textarea{ height:6em; padding:0.3em; border:solid 1px #999; }
table	{ width:100%; border-spacing:0; }
p	{ }
button	{ padding:0.3em 1em; .rounded(); }
button:disabled	{ border:solid 1px #666; .gradient(#999, #666); }
button.primary { background:@pbtnbg; color:@pbtnfg; border:solid 1px #555; text-shadow:1px 1px 1px #eee; .gradient(@pbtnbg, darken(@pbtnbg,30%)); }
button.secondary { background:#ccc; color:#000; border:solid 1px #555; text-shadow:1px 1px 1px #eee; .gradient(#ccc, #999); }


.ajaxstatus { display:none; position:fixed; width:50%; top:25px; padding:1em; background:#ff0; border:solid 2px #999; text-align:center; }
.current_user { margin:0.3em 4em; color:#fff; font-size:11pt; }
.header { padding:0.5em 4em; background:#333; color:@bg; text-align:right; border-bottom:solid 1px #000;
	a,a:active,a:visited { margin-left:4em; color: #777; font-size:8pt; font-weight:bold; text-decoration:none; text-shadow:1px 1px 1px #000; }
	a:hover,a.hilite { color:#ccc; }
}

.toolbar 		{ border-top:solid 1px #666; border-bottom:solid 1px #000; background:#345; }
.toolbarbuttonarea 	{ float:left; margin:2em 0 1em 4em; }
.toolbarsearcharea 	{ margin:2em 4em 1em 0; text-align:right; 
	input[type=text] { width:24em; padding:0.3em 0 0.3em 2em; .rounded(1.3em); border:none; outline:none;
		background:#fff url('/common/lens.png') 0.5em 0.6em; background-size:1em 1em; background-repeat:no-repeat; 
	}
	.normal { color:#000; }
	.searchhint { color:#999; font-style:italic; }
	p { margin:0.5em 1em 0 0; }
	a,a:visited { color:#999; }
}


.content 	{ border-top:solid 1px #888; }

.nav { width:25%; padding:2em 1em 0 4em; vertical-align:top; font:12pt arial,'Archivo Narrow';
	a,a:visited { display:block; padding:0.5em;
	  	color:#fff; text-decoration:none; letter-spacing:0px; .shadow(#000); 
		border-bottom:dotted 1px #999;
	}
	a:hover { background:#789; }
	.hilite { background:#789; }
	.count { float:right; margin:0.3em; padding:0.3em 0.5em; color:#fff; font-weight:bold; .shadow(#000); font-size:11pt; }
	.important { background:#c00; color:#fff; .shadow(#000); .rounded(); }
	.navsectiontitle { margin:2em 0 0 0; padding:0.5em; color:#999; border-bottom:dotted 1px #999; }
}


.pagearea	{ padding:2em 4em; vertical-align:top; }

.sectiontitle { border-bottom:solid 1px #666; }
.hint { font-size:12px; color:#999; }

.list { width:100%; border-spacing:0 1em; 
	tr { background:lighten(@bg, 10%); 
		td { border-right:solid 1px @bg; border-bottom:solid 1px darken(@bg, 20%); }
	}
	.tableheader { background:none; text-shadow:1px 1px 1px #fff; text-align:center; 
		p { margin-bottom:0; color:#333; font-weight:bold; }
		td { border:none; }
	}
	a,a:active,a:visited { color:#C00; }
}

.dialog {
	p { margin:0.5em;}
}

.ui-dialog { background:#ddd; font:11pt 'opensans',sans,arial; }

.ui-widget input, .ui-widget select, .ui-widget button, .ui-widget textarea {
	font:10pt sans;
}
